@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f7fafc;
  --primary-color: #38a169;
  --secondary-color: #2d3748;
  --accent-color: #319795;
  --text-color: #1a202c;
  --hover-bg-color: #2f855a;
}

body {
  background-color: var(--bg-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-accent {
  color: var(--accent-color);
}

.text-dark {
  color: var(--text-color);
}

.hover-bg-primary:hover {
  background-color: var(--hover-bg-color);
}